body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #f0f0f0; 
}

.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 500px; 
    min-height: 500px; 
}

.button-container {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

button {
    background-color: #0d6efd; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0b5ed7; 
}

.reset-button {
    background-color: #ff8c00;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.reset-button:hover {
    background-color: #e07b00; 
}
